# Ignore TypeScript config and caches
tsconfig.*.json
.github/**

# Ignore admin scripts and files
src/_tests/**

# Testing
.eslint*
.prettierrc
.jest.*
.env
jest.*.js

# Ignore random junk
.DS_Store
node_modules/**
misc/**
.vscode/**